body {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
}
.start-screen-div {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: white;
  width: 60em;
  height: 40em;
  border: 5px solid #ed8a53;
  border-radius: 30px;

  h4 {
    font-size: 50px;
    margin-top: 0;
    font-weight: 100;
  }
}
.start-button {
  padding: 4px;
  //   box-shadow: 0 5px 0 lightgray;
  cursor: pointer;
  background-color: #ffaa6f;
  border-radius: 10px;
  margin: 30px;
  margin-top: 0;
  color: black;
  width: 200px;
  height: 100px;
  font-size: 30px;
  font-family: Verdana, sans-serif;
}
.start-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.setup-button {
  padding: 4px;
  //   box-shadow: 0 5px 0 lightgray;
  cursor: pointer;
  margin: 30px;
  background-color: #ffaa6f;
  border-radius: 10px;
  color: black;
  width: 200px;
  height: 100px;
  font-size: 30px;
  font-family: Verdana, sans-serif;
}

.setup-button:active {
  box-shadow: none;
  transform: translateY(5px);
}
