.totalsBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c0dead;
  width: 100vw;
  height: fit-content;
  margin: 0;

  h1 {
    padding-inline-start: 1em;
  }
}
