.totalsBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #c0dead;
  width: 100vw;
  height: fit-content;
  margin: 0;

  h1 {
    margin-right: 50px;
    padding: 0;
    font-size: 1.5em;
    max-height: 3em;
  }
}
