body {
  display: flex;
  flex-direction: column;
}

.changeHeader {
  background-color: #fbc59d;
  border-radius: 10px;
  width: 95vw;
  height: 3em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
}

@media (max-width: 516px) {
  .changeHeader {
    height: fit-content;
    border: solid;
    flex-direction: column;
  }
  // .card {
  //   height: 15%;
  // }
}
