.changeHeading {
  background-color: #fbc59d;
  width: 100vw;
  height: 4em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    align-items: center;
  }
}
