.changeHeading {
  background-color: #fbc59d;
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  p {
    align-items: center;
  }
}
